<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.app2"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>PhoneGapApp2</name>

    <description>Es una aplicacion de prueba para probar PhoneGap Build</description>

    <author href="https://build.phonegap.com" email="iariel.javauser@gmail.com">Ariel Duarte</author>
	
	<icon src="google.png" gap:role="default">
	
	<feature name = "http://api.phonegap.com/1.0/geolocation"/>
	
	<preference name = "orientation" value = "landscape"/>
	
	<gap: platform>
		<gap: platform name= "symbian.wrt" />
		<gap: platform name= "android" minVersion="2.3" />
	</gap: platform>
</widget>